.navbar{
  background-color: #EF4036;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  position: relative;
  justify-content: space-between;
}
.navbar-button{
  margin-right: 25px !important
}

.navbar-button:hover, .navbar-button:focus{
  opacity: 50%;
  outline: none;
}

.navbar-button:active{
  border-bottom: 2px solid #F79A95;
}
.navbar-button, .divBusca-button{
  margin-right: 0px;
  background-color: transparent;
  border: 0px;
}

#root{
  background-color: #FEF4F3;
  height: 100vh;  
}

#divBusca{
  background-color: #FFF0EF;
  border:solid 2px #B44955;
  border-radius:20px;
  width:300px;
  padding-top: 0px;
  height: 2.5rem;
  margin: 3rem auto ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: black ;
}

#divBusca>input:hover,#divBusca>input:focus{
  text-decoration: underline #B44955;
  outline: none;
}

#divBusca>input:active{
  border-bottom: 2px solid transparent;
}

#divBusca-clickables>button:focus, #divBusca-clickables>button:hover{
  opacity: 70%;
}
#divBusca-clickables>button:active{
  border-bottom: 1px solid #B44955;
}
.divBusca-icon{
  fill:black;
  opacity: 56%;
}

#divBusca-clickables{
  margin-right: 10px;
  justify-content: center; 
}

input[type="text"]
{
    background: transparent;
    border: none;
    margin-left: 10px;
    color: #B44955;
}


h2{
  color:#EF4036;
  font-weight: 400;
  margin-left: 2%;
}

#pokemon-grid{
  background: url("../assets/background1.png") no-repeat center ;
  background-position: top;
  margin: 0px 400px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap:1ch ;
  row-gap: 2ch;
  display: grid;

}

.pokemon-container{
  background: linear-gradient(#EF4036 70%, #ffffff 70% 100%);
  border: 2px solid #EF4036;
  border-radius: 20px;
  aspect-ratio: 90/125;
  width:  135px;
  position: relative;
}

.pokemon-description{ 
  background-color: transparent;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 70%;
  width: 100%;

}
.pokemon-description>a{
  color: #F79A95;
}
.pokemon-description>img{
  margin-left: 5px;
}

.pokemon-container>img{
  margin:auto;
  height: 150px;
  display: block;
}

#divBusca>input[type="text"]::placeholder{
  color: #B44955
}

.Favorite{
  background-color: transparent;
  position: absolute;
  top:0px;
  right:0px;
  border:0px;
  opacity: 0%;
}
 
.Favorite:hover, .Favorite:focus{
  opacity: 100%;
  cursor: pointer;
  outline: none;
}
.FavoriteIcon:active{
  fill:#F79A95;
}